<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="streamsUrl" value="https://webapi.loouq.com/api/streams/device"/>
    <!-- the following lines are application defaults that can be overriden in ChartSettings.json -->
    <add key="prefetchMinutes" value="5" />
    <add key="validateDataSeries" value="true" />
    <add key="sampleIntervalSeconds" value="300" />
    <add key="sampleCount" value="20" />
    <add key="lineSmoothness" value="0" />
    <!-- set the following line to specify the location for your ChartSettings.json file. -->
    <!-- Leave empty to load your settings file from the application install folder. End your provided path with a "\" character -->
    <add key="chartSettingsPath" value=""/>
  </appSettings>
</configuration>